<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gjim50701.googlemapgoogleplace">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/png_icuisine_icon"
        android:label="iCuisine"
        android:roundIcon="@mipmap/png_icuisine_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCC9SeMsOqrA_FkWVICR1uvB3eeEdJz_pA" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MapActivity" />
        <activity android:name=".NewMarker" />
        <activity android:name=".WritePost" />
        <activity android:name=".photocrop.CropImageIntent" />
        <activity android:name=".photocrop.PhotoActivity" />
        <activity
            android:name=".HomePage"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".UserAccount" />
        <activity android:name=".UserFrined" />
        <activity android:name=".RestaurantComment"></activity>
    </application>

</manifest>